:sass
  // global variables
  $foreground-color: #333
  $base-font-size: 1rem
  $base-spacing: $base-font-size
  // mixins and functions
  =media-md
    @media (min-width: 40rem)
      @content
  =media-lg
    @media (min-width: 60rem)
      @content
  =align-items($align)
    -webkit-align-items: $align
    align-items: $align
  =display-flex
    display: -webkit-flex
    display: flex
  =flex-wrap($wrap)
    -webkit-flex-wrap: $wrap
    flex-wrap: $wrap
  =font-weight-bold
    font-weight: 600
  =font-weight-normal
    font-weight: 300
  =font-size($multiplier)
    font-size: $multiplier * $base-font-size
  @function column-width($columns)
    @return $columns / 12 * 100%
  // general tags
  *
    box-sizing: border-box
  a
    color: inherit
    display: inline-block
    +font-weight-bold
    text-decoration: none
  svg
    fill: $foreground-color
    margin-left: 0.0625rem
  // classes
  .row
    &:not(:last-child)
      margin-bottom: $base-spacing
  .social
    $dimension-length: 1.875rem
    margin-right: $dimension-length
    svg
      height: $dimension-length
      margin: 0.25rem 0
      vertical-align: middle
      width: $dimension-length
  // specific tags
  html
    background-image: url(#{ media_url('woe-bear.jpg') })
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    font-family: 'Open Sans', Helvetica, sans-serif
    +font-size(1)
    +font-weight-normal
    height: 100%
    line-height: 1.6
  body
    color: $foreground-color
    height: 100%
    margin: 0
    text-transform: lowercase
  h1
    +font-size(2)
    +font-weight-bold
    margin: 0
  // ids
  #wrapper
    height: 100%
    overflow: auto
  #content
    +media-md
      margin-left: column-width(2)
      width: column-width(6)
    +media-lg
      width: column-width(5)
    +align-items(center)
    +display-flex
    +flex-wrap(wrap)
    min-height: 100%
    padding: $base-spacing
  #blu
    height: 2rem
    width: 2.875rem
  #mlbam
    height: 0.8125rem
    width: 3.3125rem
  #columbia
    height: 0.6875rem
    width: 10.5875rem
  #batch
    height: 0.875rem
    width: 2.9375rem
